// Variables

$gray: #d4d8e1;
$graySecondary: #697284;
$offBlack: #222232;
$dashboardBlack: #262628;
$dashboardGray: #9693a1;
$dashboardSecondaryGray: #65676d;
$dashboardSearchGray: #f3f4f6;
$dashboardHeroGray: #ebeff6;

// Mixins

@mixin style-reset {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin navbar {
  min-height: 136px;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid $gray;
  margin-bottom: 80px;

  &__list {
    padding: 0 0 0 49px;
    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style: none;
      margin: 0;
      li {
        font-size: 15px;
        margin-right: 20px;
        text-transform: uppercase;
        font-weight: normal;
        a {
          color: #000;
          transition: 0.2s ease-in-out;
          &:hover {
            text-decoration: none;
          }
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
  &__logo {
    h1 {
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 43px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }
  }
}
@mixin input {
  width: 100%;
  height: 35px;
  border: 1px solid $gray;
  border-radius: 4px;
  padding: 7px 15px;
  &::placeholder {
    font-size: 14px;
    font-weight: 600;
    color: $gray;
  }
}
@mixin faux-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 31px;
  padding: 7px 12px 7px 9px;
  color: $offBlack;
  span {
    font-weight: 700;
  }
  .icon-Flecha-Dropdown {
    font-size: 6px;
    color: inherit;
  }
}
@mixin button {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  max-width: 324px;
  padding: 9px 11px;
  background: #fff;
  color: $graySecondary;
  border: 1px solid $gray;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px #00000010;
  &.secondary {
    background-color: #000;
    color: #fff;
  }
}
@mixin input-group {
  padding: 8px 6px 0px 8px;
  margin-bottom: 3px;
  label {
    display: inline-block;
    margin-left: 16px;
    font-size: 15px;
    font-weight: 400;
    color: $graySecondary;
    line-height: 22px;
  }
}
